name: Deploy to EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to EC2 via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ubuntu
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |

            cd /home/ubuntu

            # 처음이면 clone, 아니면 pull
            if [ ! -d "Stock-Alert-Bot" ]; then
              git clone https://github.com/HyeonJeongAsis/Stock-Alert-Bot.git
            else
              cd Stock-Alert-Bot
              git pull origin main
              cd ..
            fi

            cd Stock-Alert-Bot

            python3 -m venv venv
            source venv/bin/activate

            pip install --upgrade pip
            pip install yfinance pymysql streamlit pandas requests

            sudo systemctl restart stockbot
            sudo systemctl restart streamlit

            echo "Deployment finished successfully!"
