name: Deploy to EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Deploy to EC2 via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ubuntu
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            sudo chown -R ubuntu:ubuntu /home/ubuntu
            cd /home/ubuntu
            rm -rf Stock-Alert-Bot
            git clone https://github.com/HyeonJeongAsis/Stock-Alert-Bot.git
            cd Stock-Alert-Bot

            python3 -m venv venv
            source venv/bin/activate
            pip install --upgrade pip
            pip install yfinance pymysql streamlit pandas requests

            sudo pkill -f collector.py || true
            sudo pkill -f streamlit || true

            # 핵심: disown을 사용해서 깃허브 세션과 분리시킵니다.
            nohup venv/bin/python3 collector.py > collector.log 2>&1 &
            nohup venv/bin/streamlit run app.py --server.port 8501 --server.address 0.0.0.0 --server.headless true > streamlit.log 2>&1 &
            
            sleep 5 # 프로그램이 뜰 때까지 잠시 대기
            echo "Deployment successful!"